@import 'reset';

:root {
  --yellow: #dfc251;
  --grey: #ebebeb;
}

body {
  font-family: Roboto;
}

h1 {
  font-family: 'bebas_neuebold';
}

p {
  font-family: allerregular;
}

.flex {
  display: flex;
}

.section {

  &-title {
    font-size: 4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &-text {
    font-family: allerregular;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  &-title::before {
    content: '';
    display: inline-block;
    background: url(../assets/img/mustache.png);
    background-repeat: no-repeat;
    width: 9.5rem;
    height: 2.8rem;
    margin-right: 1rem;
  }
}

.spoiled-cats {
  background-color: var(--yellow);

  &-insider {
    width: 96rem;
    margin: 0 auto;
  }

  &-highlight {
    color: var(--grey);
    font-weight: bold;
  }
}
