@import 'reset';

:root {
  --yellow: #dfc251;
  --grey: #ebebeb;
}

body {
  font-family: Roboto;
}

h1 {
  font-family: 'bebas_neuebold';
}

.section {

  &-title {
    font-size: 4rem;
  }

  &-text {
    font-family: allerregular;
    font-size: 1.8rem;
  }

  &-title::before {
    content: '';
    display: inline-block;
    background: url(../assets/img/mustache.png);
    background-repeat: no-repeat;
    width: 9.5rem;
    height: 2.8rem;
    margin-right: 1rem;
  }
}

p {
  font-family: allerregular;
}

.spoiled-cats {
  background-color: var(--yellow);
}
